<div class="center-block">
  <div id="pista_padel">
    <img id="etsisi_logo" src="../../assets/img/etsisi_logo.jpg" alt="Logo etsisi">
    <div id="paddle_text">
      <h1>Paddle UPM</h1>
      <p>El club universitario más dinámico del circuito</p>
    </div>
  </div>

</div>

<div id="main_text" class="row container-fluid">
  <article class="col-sm-4 text-justify">
    <h4 class="bg-success text-center">Clases</h4>
    <div id="lessons_div" class="text_back">
      <p>El conjunto de monitores más cualificados se encargará de darte la formaci&oacute;n en cuanto a
        técnica
        requerida
        en este deporte. Las clases pr&aacute;cticas te permiti&aacute;n interiorizar los movimientos
        adecuados
        como si fuesen naturales.</p>
      <p>Las clases colectivas convierten las clases en un espacio din&aacute;mico en el que jugar se
        convierte en
        una actividad placentera y divertida.</p>
    </div>
  </article>
  <article class="col-sm-4 text-justify">
    <h4 class="bg-success text-center">Entrenamientos personalizados</h4>
    <div id="personal_lessons_div" class="text_back">
      <p>Si te sientes un campe&oacute;n, de verdad lo eres o simplemente quieres avanzar r&aacute;pidamente
        en la
        t&eacute;cnica que rodea a este deporte te podemos configurar sesiones de entranamiento a tu medida
        con
        un
        entrenador personal que se encargará de: </p>
      <ul>
        <li>Enseñarte la t&eacute;cnica adecuada para mejorar tus golpes</li>
        <li>Enseñarte a combinar la potencia con la t&eacute;cnica</li>
        <li>Mostrarte como mejorar el rendimiento en equipo</li>
        <li>Explicarte como utilizar la presi&oacute;n de los campeonatos en tu beneficio</li>
      </ul>
    </div>
  </article>
  <article class="col-sm-4 text-justify">
    <h4 class="bg-success text-center">Campeonatos</h4>
    <div id="championship_div" class="text_back">
      <p>El club organiza campeonatos peri&oacute;dicos en los que te puedes divertir al mismo tiempo que
        mejoras
        en el deporte. Tenemos campeonatos de un d&iacute;a, de fin de semana y ligas regulares. Puedes
        participar
        en los torneos masculinos, femeninos y mixtos</p>
    </div>
  </article>
</div>
